framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    csrf_protection: true
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax

    http_client:
        scoped_clients:
            photo_api.client:
                base_uri: '%env(PHOTO_API_URL)%'
                timeout: 30
                extra:
                    connect_timeout: 10

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
